.content-form {
    text-align: center;
}
.head-form {
    min-height: 60px;
}
.body-form {
    text-align: left;
    display: inline-block;
}
.field {
    min-height: 40px;
}
.warning {
    font-size: 11px;
    color: red;
}


