<div class="content-form">
  <div class="head-form">
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="body-form">
    <div id="phone-field" class="field">
      <label>¿Cuál es su número celular?</label>
      <input id="textInputPhone" type="number"/>
      <p id="warning-phone" class="warning" hidden="true">El número de celular debe tener 10 dígitos</p>
    </div>
    <div id="address-field" class="field" hidden="true">
      <label>¿Cuál es la dirección de su residencia?</label>
      <input id="textInputAddress" type="text" />
      <p id="warning-address" class="warning" hidden="true">Inválida dirección</p>
    </div>
    <div id="floor-field" class="field" hidden="true">
      <label>Piso/Oficina/Apto</label>
      <input id="textInputFloor" type="text" />
      <p id="warning-floor" class="warning" hidden="true">Campo requerido</p>
    </div>
    <div id="city-field" class="field" hidden="true">
      <label>¿En cuál ciudad?</label>
      <input id="textInputCity" type="text" />
      <p id="warning-city" class="warning" hidden="true">Ingrese la ciudad</p>
    </div>
    <div id="email-field" class="field" hidden="true">
      <label>¿Cuál es su correo electrónico?</label>
      <input id="textInputEmail" type="text" />
      <p id="warning-email" class="warning" hidden="true">Formato del correo: usuario@ejemplo.com</p>
    </div>
    <div id="fuente-ingresos-field" class="field" hidden="true">
      <label>¿Tiene otra fuente mensual de ingresos?</label>
      <input id="textInputFuente" type="text" />
      <p id="warning-fuente" class="warning" hidden="true">Campo obligatorio</p>
    </div>
    <div id="ingresos-field" class="field" hidden="true">
      <label>¿Cúanto suman esos ingresos?</label>
      <input id="textInputIngresos" type="text" />
      <p id="warning-ingresos" class="warning" hidden="true">Campo obligatorio</p>
    </div>
    <div id="pais-nacimiento-field" class="field">
      <label>País de nacimiento</label>
      <input id="textInputPaisNacimiento" type="text" />
    </div>
  </div>
</div>